{% extends 'main.html' %}
{% load static %}
{% load i18n %}
    
{% block content %}
<title>Historical Dashboard</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
    #myChart1 {
        margin: 0 auto;
        display: block;
    }
</style>
<main class="">
    {% if messages %}
			{% for message in messages %}
			<div class="alert-container" id="msg"  >
				<div class="alert {{ message.tags }} m-2" role="alert"> 
					{{message}}
				</div>
			</div>
			{% endfor %}
		{% endif %}
   <br>
   <h1 style="font-weight: bold; color:#2f5706; text-align: center; font-family: sans-serif; font-size: 1.8em; letter-spacing: 5px;"> HISTORICAL DASHBOARD</h1>
 
   
    <div class="p-6">

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mb-6">
            <div class="bg-white border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md">
                <div class="flex justify-between mb-4 items-start">

                    <div class="font-medium">Reported Vehicles' Statistics For <span id="currentMonth"></span></div>

                    <script>
                    var currentDate = new Date();
                    var currentMonth = currentDate.toLocaleString('default', { month: 'long' });
                    var currentMonthElement = document.getElementById('currentMonth');
                    currentMonthElement.textContent = currentMonth;
                    </script>
                    
                
                    

                </div>
                <div class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5">
                    <canvas id="myChart" width="450" height="400"></canvas>

                    <script>
                      function splitValuesByWeeks(data, weeks) {
                        const splitData = [];
                        let startIndex = 0;
                        for (const week of weeks) {
                          const endIndex = startIndex + week;
                          splitData.push(data.slice(startIndex, endIndex));
                          startIndex = endIndex;
                        }
                        return splitData;
                      }


                      var data = '{{ weekly_counts }}';
                      var data = JSON.parse(data);
                      console.log(data)
                      const weeks = [4, 4, 4];
                  
                      const splitData = splitValuesByWeeks(data, weeks);
                  
                      const ctx = document.getElementById('myChart').getContext('2d');
                      const myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                          labels: ["Week 1", "Week 2", "Week 3", "Week 4"],
                          datasets: [
                            {
                              label: "Sudden stop",
                              data: splitData[0],
                              borderColor:  'rgb(255, 99, 132)',
                              backgroundColor:'rgba(255, 99, 132, 0.2)',
                              fill: false
                            },
                            {
                              label: "Empty battery",
                              data: splitData[1],
                              borderColor:  'rgba(255, 159, 64)',
                              backgroundColor:'rgba(255, 159, 64, 0.2)',
                              fill: false
                            },
                            {
                              label: "Other problems",
                              data: splitData[2],
                              borderColor: 'rgba(75, 192, 192)',
                              backgroundColor:'rgba(75, 192, 192, 0.2)',

                              fill: false
                            }
                          ]
                        },
                        options: {
                          responsive: true,
                          scales: {
                            x: {
                              display: true,
                              title: {
                                display: true,
                                text: 'Weeks'
                              }
                            },
                            y: {
                              display: true,
                              title: {
                                display: true,
                                text: 'Number of vehicles'
                              }
                            }
                          }
                        }
                      });
                    </script>
                       
                       
                 
               
                </div>
            </div>

            <div class="bg-white border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md">
                <div class="flex justify-between mb-4">
                    <div id="container">
                        <div class="font-medium">Type of Reserved Vehicles' Statistics For <span id="currentMonth1"></span></div>

                            <script>
                            var currentDate = new Date();
                            var currentMonth = currentDate.toLocaleString('default', { month: 'long' });
                            var currentMonthElement = document.getElementById('currentMonth1');
                            currentMonthElement.textContent = currentMonth;
                            </script>
                        
                        <br>
                        <canvas id="myChart1" width="450" height="400"></canvas>

                        <script>
                            var weeklyCounts1 = ['{{single_count}}', '{{double_count}}'];
                    
                            var ctx1 = document.getElementById('myChart1').getContext('2d');
                            new Chart(ctx1, {
                                type: 'bar',
                                data: {
                                    labels: ['Single', 'Double'],
                                    datasets: [{
                                        barPercentage: 0.5,
                                        barThickness: 80,
                                        maxBarThickness: 100,
                                        minBarLength: 2,
                                        label:'Vehicles Types',
                                        data: weeklyCounts1,
                                        backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
      'rgba(255, 159, 64, 0.2)',
    ],
    borderColor: [
      'rgb(255, 99, 132)',
      'rgb(255, 159, 64)',
    ],
    borderWidth: 1
                                    }],
                                },
                                options: {
                                    responsive: true,
                                    scales: {
                                        x: {
                                            title: {
                                                display: true,
                                                text: "Vehicles' Types"
                                            }
                                        },
                                        y: {
                                            beginAtZero: true,
                                            title: {
                                                display: true,
                                                text: "Vehicles' Numbers"
                                            }
                                        }
                                    }
                                }
                            });
                        </script>
                           
                        
                    </div>
                    

                  
                </div>

</div>


            </div>

            </div>
            
        </div>
      
    </div>
    
    </div>
    
</main>
{% endblock %}

    
  
    <!-- start: Sidebar -->
    {% comment %} <div class="fixed left-0 top-0 w-64 h-full bg-green p-4 z-50 sidebar-menu transition-transform">
        <a href="#" class="flex items-center pb-4 border-b border-b-gray-800">
            {%block logo%}
            <img src="{% static 'RehaabWeb/greenRehaabLogo.png' %}" alt="" class="w-8 h-8 rounded object-cover">
            {% endblock %}

            <span class="text-lg font-bold text-white ml-3">Rehaab</span>
        </a>
        <ul class="sidebar-menu">
            <li class="mb-1 group ">
                <a href="#"
                    class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
                    <i class="ri-home-2-line mr-3 text-lg"></i>
                    <span class="text-sm">Dashboard</span>
                </a>
            </li>

            <li class="mb-1 group">
                <a href="{% url 'UpdateParameters' %}"
                    class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
                    <i class="ri-instance-line mr-3 text-lg"></i>
                    <span class="text-sm">Configure and Update</span>
                </a>
            </li>
            <li class="mb-1 group">
                <a href="{% url 'AssignVM' %}"
                    class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
                    <i class="ri-settings-2-line mr-3 text-lg"></i>
                    <span class="text-sm">Assign vehicle managers</span>
                </a>
            </li>

            <li class="mb-1 group">
                <a href="{% url 'sign-in' %}"
                    class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md group-[.active]:bg-gray-800 group-[.active]:text-white group-[.selected]:bg-gray-950 group-[.selected]:text-gray-100">
                    <i class="ri-logout-box-line mr-3 text-lg"></i>
                    <span class="text-sm">Log out</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="fixed top-0 left-0 w-full h-full bg-black/50 z-40 md:hidden sidebar-overlay"></div>
    <!-- end: Sidebar --> {% endcomment %}


    
    
