{% load static %}
<!DOCTYPE HTML>
<HTML lang="en">

    <head>
        <meta name="viewport"  content="width=device-width, initial-scale=1.0" >
        <meta charset="UTF-8" >
        <link rel="icon" href="../img/WhiteRehabLogo.png">
        <link rel="stylesheet" href="{% static 'RehaabWeb/signinStyle.css' %}">
        <title>
            Forget Password
        </title>
    </head>

    <body>
        <header>
            <a href="../home/index.html">
                {% block logo %}
                <img src="{% static 'RehaabWeb/WhiteRehabLogo.png' %}" alt="Rehaab logo" id="logo">
                {% endblock %}
            </a>
        </header>

        <main>
            
            <div id="signDiv">
                <h2>
                    WELCOME<br>
                    <span>
                        BACK
                    </span>
                </h2>
    
                <form name="myForm" action="." method="POST">
                    {% csrf_token %}
                    <br>
                    <label for="email">Email  </label><br>
                    <input type="email" name="email" id="email" placeholder="Nora@hotmail.com" required><br>
                    <br>
                    <input type="submit" value="SEND">
                    
                </form>
            <br>
            <div>
                <ul style="list-style: none; padding: 0;">
                    
                        <li style=" padding-left: 85px;"> <a href="{% url 'sign-in' %} " style="color: #2f5706; text-decoration: none;" >Back To Sign In Page</a> </li>
                 
                </ul>
                <br>
            </div>
            </div>
            

        </main>
        
      
    </body>

</HTML>