{% load static %}
<!DOCTYPE HTML>
<HTML lang="en">

    <head>
        <meta name="viewport"  content="width=device-width, initial-scale=1.0" >
        <meta charset="UTF-8" >
        <link rel="icon" href="../img/WhiteRehabLogo.png">
        <link rel="stylesheet" href="{% static 'RehaabWeb/signinStyle.css' %}">
        <title>
            Reset Password
        </title>
    </head>

    <body>
        <header>
            <a href="../home/index.html">
                {% block logo %}
                <img src="{% static 'RehaabWeb/WhiteRehabLogo.png' %}" alt="Rehaab logo" id="logo">
                {% endblock %}
            </a>
        </header>

        <main>
            
            <div id="signDiv">
                <h2>
                    WELCOME<br>
                    <span>
                        BACK
                    </span>
                </h2>
                {% if validlink %}
                <form name="myForm" action="" method="POST">
                    {% csrf_token %}
                    <br>
                    <label for="Npass">New password  </label><br>
                    <input type="password" name="Npass" id="Npass" placeholder="*********" required><br>
                    <br>
                    <label for="Cpass">Confirm pass  </label><br>
                    <input type="password" name="Cpass" id="Cpass" placeholder="**********" required><br>
                    <br>
                    <input type="submit" value="CHANGE PASSWORD">
                    
                </form>
                {% else %}
                <p>The password reset link was invalid, possibly because it has
                already been used. Please request a new password reset.</p>
                {% endif %}
                
            <br>
          
            </div>
            

        </main>
        
      
    </body>

</HTML>