{% load static %}
<!DOCTYPE HTML>
<HTML lang="en">

    <head>
        <meta name="viewport"  content="width=device-width, initial-scale=1.0" >
        <meta charset="UTF-8" >
        <link rel="icon" href="../img/WhiteRehabLogo.png">
        <link rel="stylesheet" href="{% static 'RehaabWeb/signinStyle.css' %}">
        <title>
            Reset Password
        </title>
        <style>
            
            .alert-error {
              color: #a94442;
              background-color: #f2dede;
              border: 1px solid #ebccd1;
              border-radius: 4px;
              padding: 15px;
              margin-bottom: 8px;
              margin-left: 8px;
              margin-right: 8px;
            }
                  </style>
                </head>
                {% if messages %}
                {% for message in messages %}
                    <div class="alert-error" id="msg" role="alert"> 
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

    <body>
        <header>
            <a href="../home/index.html">
                {% block logo %}
                <img src="{% static 'RehaabWeb/WhiteRehabLogo.png' %}" alt="Rehaab logo" id="logo">
                {% endblock %}
            </a>
        </header>

        <main>
            
            <div id="signDiv">
                <h2>
                    WELCOME<br>
                    <span>
                        BACK
                    </span>
                </h2>
                <form name="myForm" method="POST">
                    {% csrf_token %}
                    <br>
                    <label for="Npass">New password</label><br>
                    <input type="password" name="Npass" id="Npass" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" title="Password must be at least 8 characters long, containing at least one uppercase letter, one lowercase letter, one digit, and one special character." required><br>
                    <br>
                    <label for="Cpass">Confirm password</label><br>
                    <input type="password" name="Cpass" id="Cpass" required><br>
                    <br>
                    <input type="submit" value="CHANGE">
                    
                </form>
         
                
            <br>
          
            </div>
            

        </main>
        
        <script>
            setTimeout(function(){
              if ($('#msg').length>0){
                $('#msg').remove();
              }
            }, 3000)
                    </script>
                   
    </body>

</HTML>