{% load static %}
<!DOCTYPE HTML>
<HTML lang="en">

    <head>
        <meta name="viewport"  content="width=device-width, initial-scale=1.0" >
        <meta charset="UTF-8" >
        <link rel="icon" href="../img/WhiteRehabLogo.png">
        <link rel="stylesheet" href="{% static 'RehaabWeb/signinStyle.css' %}">
        <title>
            Email Has Been Sent
        </title>
    </head>

    <body>
        <header>
            <a href="../home/index.html">
                {% block logo %}
                <img src="{% static 'RehaabWeb/WhiteRehabLogo.png' %}" alt="Rehaab logo" id="logo">
                {% endblock %}
            </a>
        </header>

        <main>
            
            <div id="signDiv">
                <h2>
                    EMAIL HAS <br>
                    <span>
                    SENT!
                    </span>
                </h2>
    
                <form name="myForm">
                    <p style="margin: 10px; color:#3b6c0a ; font-weight: 450;">We've emailed you instructions for setting your password.</p>
                    <p style="margin: 10px; color:#3b6c0a ;font-weight: 450;">If you don't receive an email, please make sure you've entered your email correctly.</p> 
                    
                </form>
                
<br>
            </div>
            

        </main>
        
      
    </body>

</HTML>